$font-nav-family : "ir_sans";
$font-nav-size: 20px;

$font-header-family: "casablanca";
$font-header-size: 100px;

$font-search-family: "inter";
$font-search-size: 24px;

$font-main-family: "ir_sans";

$font-color: #2d1e06;